{% extends 'base.html.twig' %}

{% block title %}New Auto{% endblock %}

{% block body %}
    <h1>Create new Auto</h1>

    {{ include('kocsi/_form.html.twig') }}

    <a href="{{ path('app_kocsi_index') }}">back to list</a>
{% endblock %}
